@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {

  --font-family:'League Spartan', sans-serif;
  /* theme 1 */

  /* backgrounds */
  --background-main: hsl(222, 26%, 31%);
  --backgound-toggle-keypad: hsl(223, 31%, 20%);
  --background-screen: hsl(224, 36%, 15%);
  /* keys */
  --key-background: hsl(225, 21%, 49%);
  --key-shadow-blue:  hsl(224, 28%, 35%);
  --key-toggle: hsl(6, 63%, 50%);
  --key-shadow-red: hsl(6, 70%, 34%);
  --key-background-orange: hsl(30, 25%, 89%);
  --key-shadow-orange: hsl(28, 16%, 65%);
  /* text */
  --text-gray:hsl(221, 14%, 31%);
  --text-white: hsl(0, 0, 100%);

  /* theme 2 */
  /* background */
  --background-2-main:  hsl(0, 0%, 90%);
  --background-2-toggle-keypad: hsl(0, 5%, 81%);
  --background-2-screen:hsl(0, 0%, 93%);
  /* keys */
  --keys-2-background: hsl(185, 42%, 37%);
  --keys-2-shadow: hsl(185, 58%, 25%);
  --keys-2-background-toggle:  hsl(25, 98%, 40%);
  --keys-2-shadow: hsl(25, 99%, 27%);
  --keys-2-key-background: hsl(45, 7%, 89%);
  --keys-2-key-shadow:  hsl(35, 11%, 61%);
  /* text */
  --text-2-gray:hsl(60, 10%, 19%);
  --text-2-white:hsl(0, 0, 100%);

  /* theme 3 */
  /* background */
  --background-3-main: hsl(268, 75%, 9%);
  --background-3-else: hsl(268, 71%, 12%);
  /* Text */
  --text-yellow: hsl(52, 100%, 62%);
  --text-dark-blue:hsl(198, 20%, 13%);
  --text-white: hsl(0, 0, 100%);
}

body {
  font-family: var(--font-family);
}

.background {
  background-color: var(--background-main);
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "League Spartan", sans-serif;
}

.calculator {
  margin: auto;
  width: 294px;
  height: 400px;
  overflow: hidden;
}


.top {
  display: flex;
  justify-content: space-between;
}

.text-calc {
  display: flex;
  align-items: center;
}

.one {
  background-color: var(--background-main);
}

.two {
  background-color: var(--background-2-main);
  color: black;
}

.three {
  background-color: var(--background-3-main);
  color:var(--text-yellow);
}

.theme {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.theme-text p {
  font-size: 6px;
  padding-right: 8px;
  padding-top: 4px;
}

.theme-container {
  display: flex;
  padding-bottom: .4rem;
  width: 100%;
}

.theme-container > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column-reverse;
}

.theme-container > input {
  background-color: var(--background-screen);
}

#display {
  width: 100%;
  padding: 16px 8px;
  border: none;
  background-color: var(--background-screen);
  border-radius: 4px;
  margin-top: 16px;
  color: var(--text-white);
  text-align: end;
  font-family: var(--font-family);
  font-size: 1.75rem;
  font-weight: 700;
}

.keys {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--background-screen);
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0px;
  height: 284px;
}

.key {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px var(--key-shadow-orange);
}

.operator {
  text-transform: lowercase;
}

#delBtn {
  text-transform: uppercase;
}

.half {
  grid-column: span 2;
}

.blue {
  background-color: var(--key-background);
  box-shadow:0px 2px var(--key-shadow-blue);
}

.red {
  background-color: var(--key-toggle);
  box-shadow: 0px 2px hsl(6, 70%, 34%)
}

.attribution {
  font-size: 11px; text-align: center;
  position: absolute;
  bottom: 16px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
