@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --font-family:'League Spartan', sans-serif;
}

.background[data-theme="one"] {
  --bg: hsl(222, 26%, 31%);
  --top-text: white;
  --toggle-bg:hsl(223, 31%, 20%);
  --toggle-color:;
  --screen-bg: hsl(224, 36%, 15%);
  --screen-text:white;
  --keypad-bg:hsl(223, 31%, 20%);
  --key-general-color:hsl(224, 28%, 35%);
  --key-general-bg:hsl(30, 25%, 89%);
  --key-general-shadow:hsl(28, 16%, 65%);
  --delReset-color: white;
  --delReset-bg:hsl(225, 21%, 49%);
  --delReset-shadow:hsl(224, 28%, 35%);

  --equals-color:white;
  --equals-bg:hsl(6, 63%, 50%);
  --equals-shadow:hsl(6, 70%, 34%);
}

.background[data-theme="two"] {

  --bg: hsl(0, 0%, 90%);
  --top-text:hsl(60, 10%, 19%);
  --toggle-bg:hsl(0, 5%, 81%);
  --toggle-color:;
  --screen-bg:hsl(0, 0%, 93%);
  --screen-text:;
  --keypad-bg:hsl(0, 5%, 81%);
  --key-general-color:;
  --key-general-bg:hsl(45, 7%, 89%);
  --key-general-shadow:hsl(35, 11%, 61%);
  --delReset-color: hsl(0, 0, 100%);
  --delReset-bg:hsl(185, 42%, 37%);
  --delReset-shadow:hsl(185, 58%, 25%);
  --equals-color:white;
  --equals-bg:hsl(25, 98%, 40%);
  --equals-shadow:hsl(25, 99%, 27%);
}


.background[data-theme="three"] {
  --bg: ;
  --top-text:;
  --toggle-bg:;
  --toggle-color:;
  --screen-bg:;
  --screen-text:;
  --keypad-bg:;
  --key-general-color:;
  --key-general-bg:;
  --key-general-shadow:;
  --delReset-color:;
  --delReset-bg:;
  --delReset-shadow:;

  --equals-color:;
  --equals-bg:;
  --equals-shadow:;


}


/* default theme */

body {
  font-family: var(--font-family);
}

.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--text-top);
  position: relative;
}

.calculator {
  width: 294px;
  /* height: 430px; */
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--top-text);
}

.top .text-calc {
  font-size:1rem;
}

.top-right {
  display:flex;
  font-size: .5rem;
}

.title-theme{
  display:flex;
  align-items: flex-end;
  padding-bottom: 4px;
  padding-right: 4px;
}

.toggle-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 4px solid black; */
}

.toggle-section p {
  letter-spacing: 1px;
}

.toggle-section-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid white; */
}

.toggle-section-labels p {
  padding-left: 4px;
}

.radio-section {
  background-color: var(--toggle-bg);
  border-radius: 16px;
  padding:2px 0px;
}


/* display/screen */

.screen {
  width: 100%;
  padding: 16px 8px;
  border: none;
  background-color: var(--screen-bg);
  border-radius: 4px;
  margin-top: 16px;
  color: var(--screen-text);
  text-align: end;
  font-family: var(--font-family);
  font-size: 1.75rem;
  font-weight: 700;
}

/* keys */
.keys {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--keypad-bg);
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0px;
  height: 284px;
}
.key {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--key-general-bg);
  color: var(--key-general-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px var(--key-general-shadow);
}

.operator {
  text-transform: lowercase;
}
#delBtn {
  text-transform: uppercase;
}
.half {
  grid-column: span 2;
}
.blue {
  color: white;
  background-color: var(--delReset-bg);
  box-shadow:0px 2px var(--delReset-shadow);
}
#equalsBtn {
  color: var(--equals-color);
  background-color: var(--equals-bg);
  box-shadow: 0px 2px var(--equals-shadow);
}


/* footer */

.attribution {
  font-size: 11px; text-align: center;
  position: absolute;
  bottom:0px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
